h1 { color: maroon; }
h3 { color: green; }
p + p { text-indent: 0; }
div.container {background-color: #fcfcfc; }
body { background-color: #897eeb; }
img.frame {
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
}
a { color: maroon; }
iframe {
  overflow-x: hidden;
  overflow-y: scroll;
}

html, body { height: 100%; }
